# Copyright 2026 JT Perry
# Licensed under Apache 2.0

model_list:
  - model_name: "claude-3-5-sonnet-20241022"
    litellm_params:
      model: "openai/${MODEL_ID}"
      api_base: "https://api.runpod.ai/v2/${RUNPOD_ENDPOINT_ID}/openai/v1"
      api_key: "os.environ/RUNPOD_API_KEY"
  - model_name: "*"
    litellm_params:
      model: "openai/${MODEL_ID}"
      api_base: "https://api.runpod.ai/v2/${RUNPOD_ENDPOINT_ID}/openai/v1"
      api_key: "os.environ/RUNPOD_API_KEY"

litellm_settings:
  drop_params: True
  set_model_in_config: True